/bin/
/obj/
DIKU.Canvas.1.0.2.1/.signature.p7s
DIKU.Canvas.1.0.2.1/DIKU.Canvas.1.0.2.1.nupkg
DIKU.Canvas.1.0.2.1/lib/net6.0/canvas.dll
DIKU.Canvas.1.0.2.1/LICENSE
DIKU.Canvas.1.0.2.1/README-SDL.txt
DIKU.Canvas.1.0.2.1/README.md
DIKU.Canvas.1.0.2.1/runtimes/linux-x64/native/libSDL2.so
DIKU.Canvas.1.0.2.1/runtimes/osx-arm64/native/libSDL2.dylib
DIKU.Canvas.1.0.2.1/runtimes/osx-x64/native/libSDL2.dylib
DIKU.Canvas.1.0.2.1/runtimes/win-x64/native/SDL2.dll
DIKU.Canvas.1.0.2.1/runtimes/win-x86/native/SDL2.dll
FSharp.Core.6.0.1/.signature.p7s
FSharp.Core.6.0.1/contentFiles/any/netstandard2.0/FSharp.Core.xml
FSharp.Core.6.0.1/contentFiles/any/netstandard2.1/FSharp.Core.xml
FSharp.Core.6.0.1/FSharp.Core.6.0.1.nupkg
FSharp.Core.6.0.1/Icon.png
FSharp.Core.6.0.1/lib/netstandard2.0/cs/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/de/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/es/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/fr/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/FSharp.Core.dll
FSharp.Core.6.0.1/lib/netstandard2.0/FSharp.Core.xml
FSharp.Core.6.0.1/lib/netstandard2.0/it/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/ja/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/ko/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/pl/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/pt-BR/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/ru/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/tr/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/zh-Hans/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.0/zh-Hant/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/cs/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/de/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/es/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/fr/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/FSharp.Core.dll
FSharp.Core.6.0.1/lib/netstandard2.1/FSharp.Core.xml
FSharp.Core.6.0.1/lib/netstandard2.1/it/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/ja/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/ko/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/pl/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/pt-BR/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/ru/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/tr/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/zh-Hans/FSharp.Core.resources.dll
FSharp.Core.6.0.1/lib/netstandard2.1/zh-Hant/FSharp.Core.resources.dll
StbImageSharp.2.27.11/.signature.p7s
StbImageSharp.2.27.11/lib/netstandard2.0/StbImageSharp.dll
StbImageSharp.2.27.11/StbImageSharp.2.27.11.nupkg
StbImageWriteSharp.1.16.7/.signature.p7s
StbImageWriteSharp.1.16.7/lib/netstandard2.0/StbImageWriteSharp.dll
StbImageWriteSharp.1.16.7/StbImageWriteSharp.1.16.7.nupkg
bar.jpg
empty.jpg
nonTrivial.jpg
p.jpg
q.jpg
small.jpg
test.jpg
star.jpg
star.tiff
star2.jpg
text.jpg
textT.jpg
animated.gif
blue-imagesharp.png
images/animated.gif
rotate.jpg
.DS_Store
circle.jpg
curve.jpg
filledCircle.jpg
filledPolygon.jpg
filledRectangle.jpg
rectangle.jpg
cropLarge.jpg
cropSmall.jpg
horizontal0.5.jpg
horizontal0.jpg
horizontal1.jpg
r.jpg
s.jpg
translatelub.jpg
translatelus.jpg
translaterdb.jpg
translaterds.jpg
vertical0.5.jpg
vertical0.jpg
vertical1.jpg
examples/fb-round.png
examples/fb-rounder.png
examples/fb.png
examples/wordart.png
examples/drawLines.png
examples/test.png
examples/figure.png
examples/linesFromPath.png
examples/combine.png
examples/ils.png
examples/canvasNT3Test.gif
examples/canvasNT3Test.png
*.gif
canvasNT3Test.gif
canvasNT3Test.png
canvasNT3Test.gif
canvasNT3Test.png
examples/renderToFile.png
renderToFile.png
sample.tif
/output/
/.fsdocs/
images/~$coordinateSystem.pptx
images/~$primitiveTree.pptx
